@font-face {
    font-family: neu;
    src: url(NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu2;
    src: url(NeueHaasDisplayXThin.ttf);
}
@font-face {
    font-family: neu3;
    src: url(NeueHaasDisplayBold.ttf);
}

@font-face {
    font-family: font1;
    src: url(NeueHaasDisplayMediu.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font1;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    padding: 0 2vw;
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
}

nav {
    padding: 30px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 100;
}

#nav-btn {
    display: flex;
    gap: 1.4vw;
    align-items: center;
}

#nav-btn h4 {
    position: relative;
    font-size: 19px;
    font-weight: 500;
    border: 1px solid rgba(101, 101, 101, 0.516);
    padding: 10px 15px;
    border-radius: 50px;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-btn h4::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-btn h4:hover::after {
    border-radius: 0;
    bottom: 0;
    /* color: #efeae3; */
}

#nav-btn h4 a {
    text-decoration: none;
    color: #0000009b;
    position: relative;
    z-index: 9;
    font-family: font1;
    font-size: medium;
}

#nav-btn h4:hover a {
    color: #efeae3;
}

nav h3 {
    display: none;
}

.hero-sec {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1vw;
    border-bottom: 1px solid #0000003c;
}

.left h3{
    font-family: font1;
    width: 30vw;
    font-size: 2vw;
    line-height: 2vw;
}

.right {
    font-family: font1;
}

.hero-sec h1 {
    font-size: 11vw;
    line-height: 9vw;
    text-align: right;
    font-family: neu3;
    padding-right: 2vw;
}
#hero-shape{
    position: absolute;
    height: 36vw;
    width: 36vw;
    right: 0;
    top: 85vh;
    
}

#hero1 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    background-color: orangered;
}
#hero2 {
    position: absolute;
    height: 30vw;
    width: 100%;
    border-radius: 50%;
    filter: blur(20px);
    background:linear-gradient(#fe320a,#fe570a);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#hero3 {
    position: absolute;
    height: 30vw;
    width: 100%;
    border-radius: 50%;
    filter: blur(20px);
    background:linear-gradient(#fe320a,#fe570a);
    animation-name: anime;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

@keyframes anime {
    from{
        transform: translate(55%, -15%);
    }
    to{
        transform: translate(0% , 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20% , 20%);
    }
}

video {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-top: 5vw;
}

#page2 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
}

.moving-text {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

.moving-text h1 {
    font-size: 9vw;
    font-family: font1;
    display: inline-block;
}

.gola {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fe320a;
    margin: 1vw 2vw;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    position: relative;
    z-index: 9;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.5vw;
    margin: 5vw 0;
}

#page2-bottom h1 {
    position: relative;
    width: 60%;
    font-size: 4.3vw;
    font-family: font1;
    padding-left: 2vw;
}

#page2-right {
    width: 25%;
    
}

#page2-right img {
    margin-top: 10vw;
    width: 90%;
    border-radius: 10px;
   
}

#page2-right h3 {
    font-size: 1.3vw;
    font-family: neu2;
    margin-top: 2vw;
   
}

#round {
    position: absolute;
    height: 36vw;
    width: 36vw;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    border-radius: 50%;
    top: 50%;
    left: 25vw;
    filter: blur(20px);
    animation-name: move-round;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes move-round {
    from{
        filter: blur(20px);
        transform: translate(10%, -10%)skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%)skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
   background-color: #efeae3;
}

.element {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #efeae3; */
    padding: 4vw 3vw;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.element h1 {
    font-size: 4vw;
    font-family: font1;
    position: relative;
    z-index: 9;
    top: -100%;
    transition: all ease 0.3s;
}

.element h4 {
    position: relative;
    align-content: center;
    font-size: 1.5vw;
    font-family: neu2;
    font-weight: 700; 
} 

.element:hover h1 {
    top: 0;
}

.element .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.element:hover .overlay {
    top: 0;
}

.element-right {
    position: relative;
    height: 100px;
    width: 100px;
    padding-top: 2vw;
    white-space: nowrap;
    z-index: 9;
    padding-left: -6vw;
}

.element-right h4 {
    font-size: 1.2vw;
    font-family: neu2;
    font-weight: 400; 
}

#fixed-image {
    height: 30vw;
    width: 25vw;
    border-radius: 10px;
    background-color: red;
    left: 53%;
    top: 20%;
    position: fixed;
    z-index: 99;
    display: none;
   background-position: center;
   background-size: cover;
}

#elem-box {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 4vw;
}

#gola2 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ff5c0b;
    left: 3%;
}

#elem-box h3 {
    font-size: 1vw;
    font-family: neu2;
}

#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 1vw 2vw;
}

.upper-text {
position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  height: 100px;
  width: 25%;
}

.upper-text h1 {
  position: relative;
  font-size: 1.1vw;
  font-weight: 800;
  font-family: neu2;
  border: 1px solid rgba(117, 113, 113, 0.819);
  border-radius: 50px;
  align-content: center;
  padding: 8px 40px;
  transition: all ease 0.4s;
  overflow: hidden;
}

.upper-text img {
    height: 15px;
    width: 20px;  
}

.upper-text h1::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.upper-text h1:hover::after{
    bottom: 0;
    border-radius: 0;
}

.upper-text h1 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}

.upper-text h1:hover a {
    color: #efeae3;
}

#design-con {
    
    min-height: 100vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
}

#grp-con{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 14vw 2vw;
    background-color: black;
    border-radius: 20px;
    position: relative;
}

#design-left {
    height: 100%;
    width: 40%;
    align-items: center;
    padding-top: 10vw;
    
}

#design-left h1 {
    color: #fff;
    font-size: 4vw;
    font-family: font1;
    padding-left: 5vw;
    align-items: center;
}

#design-left p {
    margin-top: 3vw;
    color: #fff;
    font-weight: 600;
    font-size: 1vw;
    font-family: neu;
    height: 500rem;
    width: 400px;
    padding-left: 5vw;
    line-height: 1.5vw;
}

#design-right {
    height: 100%;
    width: 60%;
    position: relative;
    
}

#design-right img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
    object-fit:fill;
    object-position: center;
    border-radius: 20px;
    
}

#page5 {
    height: 80vh;
    width: 100%;
    background-color: #efeae3;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
}

#brand {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
}

#brand-con {
    display: flex;
    align-items: center;
    padding-bottom: 4vw;
    gap: 0.5vw;
}

#brand-con h4 {
    font-family: neu2;
    font-weight: 600;
    font-size: 1vw;
}

#gola3 {
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: #fe320a; 
}

.swiper {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items:start;
    justify-content: left;
    background-color: #efeae3;  
}

.swiper-wrapper {
    display: flex;
    /* background-color: blue; */
   justify-content: flex-start;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    border-left: 1px solid #98959590;
    width: 30%;
    height: 30vw;
    padding: 3vw;
  }

.swiper-slide img {
    top: 1%;
    display: flex;
    align-items: flex-start;
    padding-left: 1vw;
    
}

.swiper-slide #big-img {
    height: 40%;
    width: 40%;
    top: 1%;
} 

.swiper-slide h4 {
    display: flex;
    align-items: flex-start;
    text-align: left;
    height: 100vh;
    width: 90%;
    font-family: neu2;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.5vw;
}

#page6 {
    height: 120vh;
    width: 100%;
}

#footer {
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items:flex-end;
    justify-content: center;

}

#footer h1 {
    font-size: 23vw;
    margin-bottom: 2vw;
}

#foot-bottom {
    position: fixed;
    height: 5vw;
    width: 100%;
    display: flex;
    color: #ffffffde;
    align-items:center;
    justify-content: space-between;
    margin-right: 2vw; 
    bottom: 1vw;
   border-top: 1px solid #ffffff3a;
}

#foot-bottom h4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2vw;
    width: 100%;
    font-size: 1.3vw;
    font-family: neu2; 
    letter-spacing: 0.1rem;
}

#foot-top {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    display: flex;
    top: 9%;
    left: 5%;
}

#foot-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1.5vw;
}

#foot-left h2 {
    font-size: 2.2vw;
    font-family: font1;
}

#foot-right {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: left;
    height: 20vh;
    width: 40%;
    text-align: left;
    
}

#foot-grp {
    height: 10vh;
    width: 10%;
    display: flex;

}

#foot-grp #mail {
    background-color: transparent;
    border: none;
    margin-left: 2vw;
    padding-right: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #ffffff3f;
    text-align: left;   
    font-size: 1.3vw;
}

#foot-right h4 {
    font-family: neu2;
    font-size: 1.5vw;
    letter-spacing: 0.1rem;
    padding: 2vw;
}

#foot-anime1 {
    position: fixed;
    height: 60vw;
    width: 100vw;
    background-color: #fe320a;
    top: 20%;
    filter: blur(20px);
    /* animation-name: footanimation; */
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; 
}

#foot-anime2 {
    position: fixed;
    height: 60vw;
    width: 100vw;
    background-color: #fe320a;
    top: 0;
    animation-name: footanimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; 
}

@keyframes footanimation {
    from{
        filter: blur(20px);
        transform: translate(10%, -10%);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%);
    }
}
@keyframes footanimation2 {
    from{
        filter: blur(20px);
        transform: translate(10%, -20%);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 20%);
    }
}

#full-scr {
    height: 100vh;
    width: 100vw;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;

}

 #full-div1 {
    display: flex; 
    flex-direction: column;
    position: relative;
    z-index: 100;
    height: 50%;
    width: 100%;
    background-color:#efeae3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} 

#full-div1 h2 {
    display: flex;
    justify-content: right;
    position: relative;
    top: 20vh;
    right: 0;
    font-size: 14vw;
    font-family: font1;
    padding-right: 5vw;
 }

/* #loader{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 #loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange,orangered );
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: loader;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear; 
 }

#loader h1:nth-child(2){
    animation-delay: 2s;
 }
 #loader h1:nth-child(3){
    animation-delay: 3s;
 }


 @keyframes loader {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
 }

         /*    Responsiveness    */   

@media (max-width:600px) {
    #loader h1{
        font-size: 10vw;
    }
    #page1 {
        min-height: 100vh;
        width: 100vw;
        /* background-color: aqua; */
    }
    nav img {
        height: 9vh;
        transition: all ease 0.4s;

    }
    nav {
        width: 100%;
        padding: 5vw 5vw;
        background-color: #efeae3;
        
    }
    #nav-btn {
        display: none; 

    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #aea9a9;
        border-radius: 50px;
        font-family: neu2;
        font-size: 4vw;
        word-spacing: 0.4vw;
        padding-left: 13vw;
    }
    .hero-sec {
            height: 62vh;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-direction: column-reverse;
            padding-bottom: 10vw;
            border-bottom: 1px solid #0000003c;
            padding: 15vw 5vw;
            position: relative;
            z-index: 9;
        }
        .hero-sec h1 {
            font-size: 16vw;
            line-height: 12vw;
            text-align: right;
        }
        .left h3{
            width: 80%;
            font-size: 5vw;
            line-height: 5vw;
        }
        
        .right {
            font-family: font1;
        }
        #hero-shape{
            position: absolute;
            height: 70vw;
            width: 80vw;
            right: 0;
            top: 68vh;
        }
        video {
            position: relative;
            height: 60vh;
            width: 92%;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
            margin-left: 5vw;
            margin-top: 5vw;
        }
        #page2 {
            position: relative;
            min-height: 100vh;
            width: 100%;
            background-color: #efeae3;
            padding: 8vw 0;
        }
        .gola {
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #fe320a;
            margin: 1vw 2vw;
        }
        #page2-bottom {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: left;
            align-items: center;
            flex-direction: column;
            padding: 4.5vw;
            margin: 5vw 0;
        }
        
        #page2-bottom h1 {
            display: flex;
            align-items: flex-start; 
            position: relative;
            padding-top: 5vw;
            width: 100vw;
            font-size: 8vw;
            font-family: font1;
            padding-left: 5vw;
        }
        #page2-right{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: left;
            padding-left: 5vw;
        }
        
        #page2-right img {
            border-radius: 10px;
            object-fit: cover;
            display: flex;
            height: 50vw;
            width: 75vw;
           
        }
        
        #page2-right h3 {
            height: 20vh;
            width: 70vw;
            font-size: 4vw;
            font-family: neu2;
            margin-top: 5vw;
            line-height: 6vw;  
        }
        #page3 {
            min-height: 100vh;
            width: 100%;
            background-color: #efeae3;
        }
        
        #elem-box {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 4vw;
        }
        #elem-box h3 {
            font-size: 3.5vw;
            font-family: neu2;
            padding-left: 3vw;
        }
        
        
        .element {
            position: relative;
            height: 40vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4vw 3vw;
            border-bottom: 1px solid black;
            /* overflow: hidden; */
        }
        #elem-container .element{
            display: none;
        }
        .element h1 {
            font-size: 4vw;
            font-family: font1;
            position: relative;
            z-index: 9;
            top: -100%;
            transition: all ease 0.3s;
        }
        .element h4 {
            position: relative;
            align-content: center;
            font-size: 1.5vw;
            font-family: neu2;
            font-weight: 700; 
        } 
        
        .element-right {
            position: relative;
            height: 100px;
            width: 100px;
            padding-top: 2vw;
            white-space: nowrap;
            z-index: 9;
            padding-left: -6vw;
        }
        
        .element-right h4 {
            font-size: 1.2vw;
            font-family: neu2;
            font-weight: 400; 
        }
        
        #fixed-image {
            height: 50vw;
            width: 50vw;
            border-radius: 10px;
            background-color: red;
            left: 53%;
            top: 20%;
            position: fixed;
            z-index: 99;
            display: none;
           background-position: center;
           background-size: cover;
           display: none;
        }
        #page4{
            position: relative;
            height: 100vh;
            width: 100vw;
            background-color: #efeae3;
            /* padding: 10vw 2vw; */
        }
        
        .upper-text {
        /* position: absolute; */
          display: flex;
            padding-bottom: 15vw;
          /* background-color: aqua; */
        }
        
        .upper-text h1 {
          position: absolute;
          left: 0;
          font-size: 4vw;
          font-weight: 200;
          font-family: neu;
          border: 1px solid rgba(117, 113, 113, 0.819);
          border-radius: 50px;
          padding: 2vw 10vw;
          transition: all ease 0.4s;
          white-space: nowrap;
          overflow: hidden;
          text-align: left;
        }
        
        .upper-text img {
            height: 15px;
            width: 20px;  
        }
        
        .upper-text h1 a {
            text-decoration: none;
            color: #000000bb;
            z-index: 9;
            position: relative;
            padding-right: 5vw;
        }
        #design-con {
            /* background-color: greenyellow;   */
            min-height: 100vh;
            width: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20vw;
        }
        
        #grp-con{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            width: 100%;
            background-color: black;
            border-radius: 20px;
            position: relative;
        }
        
        #design-left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: start;
            padding-left: 2vw;
            padding-top: 15vw;
            height: 60vh;
            width: 100vw;
            text-align: left;
        }
        
        #design-left h1 {
            display: flex;
            justify-content: flex-start;
            color: #fff;
            font-size: 10vw;
            font-family: font1;
            text-align: left;

        }
        
        #design-left p {
            height: 35vh;
            width: 90vw;
            color: #fff;
            font-size: 4vw;
            font-family: neu;
            line-height: 5vw;
        }
        
        #design-right {
            height: 100vh;
            width: 100%;
            position: relative;
            /* padding-right: 2vw; */
            overflow: hidden;
        }
        
        #design-right img {
            height: 100%;
            width: 100%;
            object-fit:fill;
            border-radius: 20px;
        }
        #page5 {
            height: 100vh;
            width: 100%;
            background-color: #efeae3;
            padding: 60vw 0;
            display: flex;
            flex-direction: column;
        }
        
        #brand {
            display: flex;
            flex-direction: column;
            padding-left: 3vw;
        }
        
        #brand-con {
            display: flex;
            align-items: center;
            padding-bottom: 4vw;
            gap: 1vw;
        }
        
        #brand-con h4 {
            font-family: neu2;
            font-weight: 600;
            font-size: 4vw;
        }
        
        #gola3 {
           height: 8px;
           width: 8px;
           border-radius: 50%;
           background-color: #fe320a; 
        }
        
        .swiper {
            width: 100%;
            height: 40vh;
            display: flex;
            align-items:start;
            justify-content: left;
            background-color: #efeae3;  
        }
        
        .swiper-wrapper {
            display: flex;
            /* background-color: blue; */
           justify-content: flex-start;
        
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            /* background: #fff; */
            border-left: 1px solid #98959590;
            width: 60%;
            height: 80vw;
            padding: 3vw;
          }
        
        .swiper-slide img {
            top: 1%;
            display: flex;
            align-items: flex-start;
            padding-left: 1vw;
            
        }
        
        .swiper-slide #big-img {
            height: 40%;
            width: 40%;
            top: 1%;
        } 
        
        .swiper-slide h4 {
            display: flex;
            align-items: flex-start;
            text-align: left;
            height: 100vh;
            width: 100%;
            font-family: neu2;
            font-size: 4vw;
            line-height: 6vw;
        }
    }